.dart_tool/
.idea/
*.iml
.gradle/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
android/
ios/
web/
macos/
linux/
windows/
*.class
*.lock
*.log
*.tmp
pocket_tavern/
*.bak
